<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles  %}
    <link rel='stylesheet' href="{% static 'common/css/bootstrap.min.css' %}" type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'common/js/bootstrap.bundle.js' %}"></script>

</head>

<body class="body" style="background-color:#f6f6f6">
    {% block content %} {% endblock %}

    <footer class="container navbar fixed-bottom">
        <div class="row">
            <div class="col">
                <i>NTU CZ4034 2018/19 Semester 2<br>Information Retrieval Project</i>
            </div>
        </div>
    </footer>
</body>

<style>
    .checked {
    color: orange;
}
    .body {
        padding-bottom: 70px;
    }
</style>

</html>